{{define "footer"}}
</div>
</body>
<script type="text/javascript">
	var href = location.href;
	if (href.indexOf("cron") != -1){
		$(".breadcrumb li a").removeClass("active");
		$(".breadcrumb li:eq(0) a").addClass("active");
	} else if (href.indexOf("task") != -1){
		$(".breadcrumb li a").removeClass("active");
		$(".breadcrumb li:eq(1) a").addClass("active");
	} else if (href.indexOf("behavior") != -1){
		$(".breadcrumb li a").removeClass("active");
		$(".breadcrumb li:eq(2) a").addClass("active");
	} else if (href.indexOf("operate") != -1){
		$(".breadcrumb li a").removeClass("active");
		$(".breadcrumb li:eq(3) a").addClass("active");
	} 
</script>
</html>
{{end}}