{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/assets/images/flash.ico">
	<link href="/assets/css/default.css" rel='stylesheet' type='text/css' />
	<link href="/assets/plugins/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/assets/plugins/bootstrap/css/bootstrap-theme.css" rel='stylesheet' type='text/css' />
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/utils.js"></script>
	<script src="/assets/js/react/react.js"></script>
	<script src="/assets/js/react/react-dom.js"></script>
	<script src="/assets/js/react/babel.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<title>flashCoder</title>
</head>
<body>
<div class="container bg-image  mt-20">
<div id="navigator" class="bg-navi">
	<ol class="breadcrumb bgc-none">
	  <li><a href="/cron/index" class="cron active">定时任务</a></li>
	  <li><a href="/task/index" class="task">任务列表</a></li>
	  <li><a href="/behavior/index" class="behavior">行为列表</a></li>
	  <li><a href="/operate/index" class="operate">操作列表</a></li>
	</ol>
</div>
{{end}}