{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/assets/images/flash.ico">
	<link href="/assets/css/default.css" rel='stylesheet' type='text/css' />
	<link href="/assets/plugins/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/assets/plugins/bootstrap/css/bootstrap-theme.css" rel='stylesheet' type='text/css' />
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/utils.js"></script>
	<script src="/assets/js/react/react.js"></script>
	<script src="/assets/js/react/react-dom.js"></script>
	<script src="/assets/js/react/babel.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<title>flashCoder</title>
</head>
<body>
<div class="container">
{{end}}