{{template "header" .}}
<div id="main"></div>
{{str2html .page}}
<script type="text/babel" src="/components/TitleWithFunc.js"></script>
<script type="text/babel" src="/components/TableWithHandle.js"></script>
<script type="text/babel">
	var titles = ["编号", "行为名称", "操作ID", "备注", "更新时间", "操作"];
    var list = {{.list}};
    var handle = function(row, k){
    	var bid = row.Bid, url = "/behavior/update?bid="+bid;
    	var deleteUrl = "/behavior/delete?bid="+bid;
		return (
			<td key={k}>
				<a href={url} >修改</a>
				<a href={deleteUrl} className="ml-20">删除</a>
			</td>
		);
    }
    var disrow = [
		{name:"Bid"},
		{name:"Bname"},
		{name:"Opid"},
		{name:"Remark"},
		{name:"Updtime",filters:[timeFormat]},
		{name:false, handle:handle},
    ];
	ReactDOM.render(
	  <div>
	  <TitleWithFunc title="行为列表" handleName="添加行为" handleUrl="/behavior/add" handleFunc={function(){return false}}/>
	  <TableWithHandle titles={titles} list={list}  disrow={disrow}/>
	  </div>,
	  document.getElementById('main')
	);
</script>
{{template "footer" .}}
