.clear{clear: both;}
.lw-80{float: left;width: 80%;}
.lw-20{float: left;width: 20%;}
.mt-20{margin-top: 20px}
.he-30{height: 30px}
.ml-20{margin-left: 20px}
.ml-50{margin-left: 50px}
.mr-20{margin-right: 20px}
.mr-50{margin-right: 50px}
.fl{float: left}
.fr{float: right}
.fc-p64{padding: 6px 4px !important;}
