{{template "header"}}
 <div id="navi"></div>
 <form class="clear cl-fff" method="post" id="operateForm">
 	<div class="form-group">
      <label for="opname">操作名称：</label>
      <input type="input" class="form-control" id="opname" name="opname" placeholder="操作名称">
    </div>
    <div class="form-group">
      <label for="optag">操作标识：</label>
      <input type="input" class="form-control" id="optag" name="optag" placeholder="操作标识">
    </div>
    <div class="form-group">
      <label for="remark">备注：</label>
      <input type="input" class="form-control" id="remark" name="remark" placeholder="备注">
    </div>
    <div class="form-group text-center">
      <input type="button" class="btn btn-primary" value="提交操作"  data-toggle="modal" data-target="#Confirm" />
    </div>
 </form>
 <div id="ModelDialog"></div>
<script type="text/babel" src="/components/TitleWithFunc.js"></script>
<script type="text/babel" src="/components/ModelDialog.js"></script>
<script type="text/babel">
	let confirmParams = {
     	  id:"Confirm",  
	      title: '提醒',  
	      desc: '确认提交?',  
	      leftBtn: {  
	        text: '取消',
	        type: 'close'  
	      },  
	      rightBtn: {  
	        text: '确认',
	        type:'func',
	        func:function(){
	            $("#Confirm").modal("hide");
	        	$("#operateForm").submit();
	        }  
	      }  
    };
    ReactDOM.render(
	 <ModelDialog {...confirmParams}/>,
	  document.getElementById('ModelDialog')
	);

	ReactDOM.render(
	  <TitleWithFunc title="添加操作" handleName="返回列表" handleUrl="#" handleFunc={back.bind(this,-1)}/>,
	  document.getElementById('navi')
	);
	
</script>
{{template "footer"}}