{{template "header" .}}
<div id="main"></div>
<script type="text/babel" src="/components/TitleWithFunc.js"></script>
<script type="text/babel" src="/components/TableWithHandle.js"></script>
<script type="text/babel">
    //操作
    function deleteOperate(url) {
		console.log(url)
    }
    //表格
	var titles = ["编号", "操作名称", "操作标识", "添加时间", "操作", "备注"];
    var list = {{.list}};
    var handle = function(row, k){
    	var bid = row.Bid, url = "/operate/delete?bid="+bid;
    	console.log(bid)
		return (
			<td key={k}><a href="javascript:;" data={bid} onClick={(data)=>deleteOperate(this.props.data)}>删除</a></td>
		);
    }
    var disrow = [
		{name:"Opid"},
		{name:"Opname"},
		{name:"Optag"},
		{name:"Addtime",filters:[timeFormat]},
		{name:false, handle:handle},
		{name:"Remark"},
    ];
	ReactDOM.render(
	  <div>
	  <TitleWithFunc title="操作列表" handleName="添加操作" handleUrl="/operate/add" handleFunc={function(){return false}}/>
	  <TableWithHandle titles={titles} list={list}  disrow={disrow}/>
	  </div>,
	  document.getElementById('main')
	);
</script>
{{template "footer" .}}
